/* CUSTOM PROPERTIES */
:root {
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #E8E9EC;
  --clr-neutral-500: #6B7082;
  --clr-neutral-800: #2E3349;
  --clr-accent-100: #41CBD3;
  --clr-accent-200: #19A1AE;
}