/* CUSTOM PROPERTIES */
:root {
  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #E8E9EC;
  --clr-neutral-500: #6B7082;
  --clr-neutral-800: #2E3349;
  --clr-accent-100: #41CBD3;
  --clr-accent-200: #19A1AE;
}

/* UTILITY CLASSES */
.center {
  display: grid;
  place-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

/* RESET */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

html, body, div, h2, span, h3, p, img {
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    color: var(--clr-neutral-500);
    background-color: var(--clr-accent-200);
}

/* TYPOGRAPHY */
.user-info h2,
.stat h3 {
  font-weight: 700;
  color: var(--clr-neutral-800);
}

/* LAYOUT */
.container {
  width: clamp(375px, 50vw, 1440px);
  height: clamp(667px, 50vh, 720px);
  outline: 1px solid violet;
}

.card {
  width: clamp(326px, 90%, 350px);
  height: 374px;
  background-color: var(--clr-neutral-100);
  outline: 1px solid lightcoral;
}





